<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- None > Fatal > ERROR > WARN > DEBUG > INFO > ALL-->
  <log4net>
    <!--uiLogger-->
    <logger name="uiLogger">
      <level value="ALL" />
      <appender-ref ref="uiAppender" />
    </logger>
    <appender name="uiAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\ui.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="0" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%p] %m%n"  />
      </layout>
    </appender>

    <!--deviceLogger-->
    <logger name="deviceLogger">
      <level value="ALL" />
      <appender-ref ref="deviceAppender" />
    </logger>
    <appender name="deviceAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\device.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="0" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%p] %m%n"  />
      </layout>
    </appender>
	
	<!--webLogger-->
    <logger name="webLogger">
      <level value="ALL" />
      <appender-ref ref="webAppender" />
    </logger>
    <appender name="webAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\web.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="0" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%p] %m%n"  />
      </layout>
    </appender>

  </log4net>
</configuration>